/* inika-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
   }
   /* inter-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
     src: url('../fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
   }

html{
  box-sizing: border-box;
}
*, ::before, ::after{
  box-sizing: inherit;
}

body{
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  color: #636060;
}
.wrapper{
  max-width: 1222px;
  margin: 0 auto;
}
   
/* header start*/

.header{
  background: #EDF2EC;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1220px;
  height: 50px;
  min-height: 134px;
}
.header__logo{
  width: 100px;
  height: 22px;
  display: flex;
  flex-wrap: wrap;
  lign-items: flex-end;
}
.header__list{
  display: flex;
  flex-wrap: wrap;
}
.header__item{
  margin-right: 46px; 
}
.header__item:last-child{
  margin-right: 0;
}
.header__logo-text{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.header__link{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
  text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
  color: #E06733;
  font-weight: 700;
  transition: .2s;
}

/* header end*/

/* welcome start*/

.welcome{
  min-height: 532px;
  background: #EDF2EC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__wrapper{
  width: 1222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leafs{
  width: 449px;
  height: auto;
}
.welcome-text{
  width: 549px;
  height: 340px;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}
.welcome-text-header{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}
.green-color{
  color: #499A18
}
.welcome-text-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}
.button{
  width: 158px;
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 24px;
  border: 2px solid #E06733;
  border-radius: 10px;
  color: #000000;
}
.button:hover, .button:focus, .button:active{
  background: #E06733;
  color: #FFFFFF;
  transition: .3s;
}

/* welcome end*/

/* about start*/

.about{
  min-height: 666px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
} 
.about__wrapper{
  width: 1222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-text{
  width: 605px;
  height: 350px;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
}
.about-text-header{
  width: 463px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}
.orange-color{
  color: #E06733
}
.about-text-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  line-height: 30px;
}

/* about end*/

/* service start*/

.service{
  min-height: 1300px;
  background: #EDF2EC;
}
.service__wrapper{
  width: 1222px;
  margin: 0 auto;
  padding-top: 40px;
}
.services-content{
  width: 1010px;
  height: 94px;
  display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.services-text-header{
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  width: 306px;
  height: 94px;
}
.nav-services{
  width: 559px;
  height: 50px;
  display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 15px;
}
.button-servises{
  border: 1px solid #E06733;
  border-radius: 5px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  width: 161px;
  height: 50px;
}
.button-servises:hover, .button-servises:focus, .button-servises:active{
  background: #E06733;
  color: #FFFFFF;
  transition: .3s;
}

